# 🔧 JetBrains IDE config (safe to ignore)
.idea/
*.iml

# IDE workspace and local settings
workspace.xml
/shelf/
httpRequests/
dataSources/
dataSources.local.xml

# Maven build output
/target/
**/target/
*.class

# Maven test output
*.lst
*.txt
*.csv
*.iml
*.class
**/target/
