<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/fsp-ann.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%logger{20}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="FILE" />
    </root>

    <!-- Enable INFO only for system progress and shutdown -->
    <logger name="com.fspann.api.ForwardSecureANNSystem" level="INFO" />
    <logger name="com.fspann.index.paper.PartitionedIndexService" level="INFO" />
    <logger name="com.fspann.index.paper.GFunctionRegistry" level="INFO" />
    <logger name="com.fspann.query.core.QueryTokenFactory" level="INFO" />
    <logger name="com.fspann.query.service.QueryServiceImpl" level="INFO" />
    <logger name="com.fspann.crypto.AesGcmCryptoService" level="INFO" />
    <logger name="com.fspann.key.KeyRotationServiceImpl" level="INFO" />
    <logger name="com.fspann.key.KeyManager" level="INFO" />
</configuration>
